//
// WebGL Twitter Globe
// A WebGL based real-time data visualisation of Twitter activity for the chosen brands.
//
// 2015 (c) Greg Kedzierski
// http://gregkedzierski.com
// greg@gregkedzierski.com
//

.canvas {
    position : absolute;
    left     : 0;
    top      : 0;
    right    : 0;
    bottom   : 0;

    width  : 100%;
    height : 100%;
}
